@media screen and (max-width: 960px) {
    .nav_container{
        display: flex;
    }
    nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    .logo{
        display: none;
    }
    .paragraph1{
        display: block;
        padding: 0;
        margin: 0;
    }
    .image2{
        display: none;
    }
    .image3{
        display: none;
    }
}
